.edit
  = form_tag save_list_path do
    .controls
      %button
        = link_to "Tillbaka till listan", root_path
      %button
        = link_to "Ny dryck", new_drinklist_path
      = submit_tag "Spara ändringar"
      %span{:style => "margin-left: 10%;"}
        %b Redigera Ölbärka
    %table
      %thead
        %tr
          %th Aktiv
          %th Namn
          %th Märke
          %th Kategori
          %th Underkategori
          %th Kommentarer
          %th Inköpspris
          %th Pris
          %th Ändra
          %th Ta bort
      %tbody
        - @bottles.each do |d|
          %tr
            %td= check_box_tag "drinklist_ids[]", d.id, d.active
            %td= d.name
            %td= d.brand
            %td= d.category
            %td= d.category_type
            %td= d.subtype
            %td= d.purchase_price
            %td= d.price
            %td
              %button
                = link_to 'Ändra', edit_drinklist_path(id: d.id)
            %td
              %button
                = link_to 'Ta bort', drinklist_path(d), 'data-method' => :delete, class: 'delete', confirm: 'Är du säker?'
