!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Dryckeslista
  %body
    #drinklist
      %h1 Ölbärs
      - @drinks.each do |category, list|
        / .drink_category>
        %h1{:class => ["#{category}", "drink_category_title"]}

          / = t(category)
        - list.group_by { |l| l.category_type }.sort_by {|e| @order.index(e.first) }.each do |type, list|
          .subcategory
            - if type != category
              %h2{:class => "#{type}"}
                = type
            %ul.subcategory-list
              - list.sort{ |a, b| a['price'] <=> b['price'] }.each do |drink|
                %li
                  %span= drink['name']
                  %span
                    = drink['price']
                    = ":-"
                  - if drink['subtitle']
                    .subtitle
                      = drink['subtitle']
